/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */

body {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    
    display: grid;
    width: 650px;
    max-height: 100vh;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: [row1-start] 150px [row1-end] 150px [third-line] 150px [last-line];
    grid-template-areas: 
        "apple apple apple orange orange"
        "pinapple pinapple pinapple orange orange"
        "pear . tomato tomato tomato"
    ;

}

@media only screen and (max-width: 550px) {
    .container { 
        grid-template-columns: repeat(1, 550px);
        grid-template-rows: repeat(5, 150px);
        grid-template-areas: 
            "orange" 
            "apple" 
            "pinapple" 
            "pear" 
            "tomato"
        ;

    }
}



#apple {
    background-color: greenyellow;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: apple;
 
}
#orange {
    background-color: orange;
    color: black;
   
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: orange;
   
}
#pinapple {
    background-color:gold;
    color: black;
   
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: pinapple;
    
}
#pear {
    background-color: burlywood;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: pear;
    
}
#tomato {
    background-color: crimson;
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: tomato;
   
}